<header class="p-3 w-full fixed top-0 z-50 bg-linear-to-r from-primary to-black">
    <div class="flex align-middle items-center px-10 mx-auto gap-6">
        <div class="text-white">
            <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact: true}"
                class="flex items-center gap-3 max-h-16 border-r-white border-r-2 pr-6">
                <!-- icon form heroicons -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
                    <path fill-rule="evenodd"
                        d="M9 4.5a.75.75 0 0 1 .721.544l.813 2.846a3.75 3.75 0 0 0 2.576 2.576l2.846.813a.75.75 0 0 1 0 1.442l-2.846.813a3.75 3.75 0 0 0-2.576 2.576l-.813 2.846a.75.75 0 0 1-1.442 0l-.813-2.846a3.75 3.75 0 0 0-2.576-2.576l-2.846-.813a.75.75 0 0 1 0-1.442l2.846-.813A3.75 3.75 0 0 0 7.466 7.89l.813-2.846A.75.75 0 0 1 9 4.5ZM18 1.5a.75.75 0 0 1 .728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 0 1 0 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 0 1-1.456 0l-.258-1.036a2.625 2.625 0 0 0-1.91-1.91l-1.036-.258a.75.75 0 0 1 0-1.456l1.036-.258a2.625 2.625 0 0 0 1.91-1.91l.258-1.036A.75.75 0 0 1 18 1.5ZM16.5 15a.75.75 0 0 1 .712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 0 1 0 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 0 1-1.422 0l-.395-1.183a1.5 1.5 0 0 0-.948-.948l-1.183-.395a.75.75 0 0 1 0-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0 1 16.5 15Z"
                        clip-rule="evenodd" />
                </svg>
                <h3 class="text-2xl font-semibold text-white uppercase">Dating App</h3>
            </a>
        </div>
        <nav class="flex gap-3 my-2 uppercase text-lg text-white">
            @if (accountService.currentUser()) {
            <a routerLink="/members" routerLinkActive="text-accent"
                [routerLinkActiveOptions]="{exact: true}">Matches</a>
            <a routerLink="/lists" routerLinkActive="text-accent"> Lists</a>
            <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
            }
            <a routerLink="/errors" routerLinkActive="text-accent">Errors</a>
        </nav>

        <div class="flex align-middle ml-auto gap-3">
            <div class="dropdown mr-5 dropdown-end">
                <button tabindex="1"
                    class="flex flex-col justify-center align-middle text-white cursor-pointer uppercase text-xs">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="size-6 flex self-center">
                        <path
                            d="M15.993 1.385a1.87 1.87 0 0 1 2.623 2.622l-4.03 5.27a12.749 12.749 0 0 1-4.237 3.562 4.508 4.508 0 0 0-3.188-3.188 12.75 12.75 0 0 1 3.562-4.236l5.27-4.03ZM6 11a3 3 0 0 0-3 3 .5.5 0 0 1-.72.45.75.75 0 0 0-1.035.931A4.001 4.001 0 0 0 9 14.004V14a3.01 3.01 0 0 0-1.66-2.685A2.99 2.99 0 0 0 6 11Z" />
                    </svg>

                    <span>{{ selectedTheme() }}</span>

                </button>
                <ul tabindex="1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    @for (theme of themes; track $index) {
                    <li (click)="handleThemeChange(theme)">
                        <a>{{theme}}</a>
                    </li>
                    }
                </ul>
            </div>

            @if (accountService.currentUser(); as user) {
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">
                    <img [src]="user?.imageUrl || '/user.png'" alt="user avatar" class="w-10 h-10 rounded-full">
                    <span>{{ user.displayName }}</span>
                </div>
                <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                    <li><a>Edit Profile</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </div>
            } @else {
            <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
                <input [(ngModel)]="creds.email" name="email" type="text" class="input" placeholder="Email">
                <input [(ngModel)]="creds.password" name="password" type="password" class="input"
                    placeholder="Password">
                <button type="submit" class="btn">Login</button>
            </form>
            }
        </div>
    </div>
</header>